<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Form</title>

</head>

<body>
  
   <div class="form-style-10">
      <h1>DiscreetPrompts</h1>
    <label>longUIquestion</label>
    <input id="input" type="text" size="50" pInputText [(ngModel)]="longUIquestion"> <br/>
    
    <button (click)="submit()" pButton type="button" label="Submit" class="ui-button-success"></button>
   </div>





</body>

</html>